# Clean Urls
RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# Custom Error Pages
# RewriteEngine on
# ErrorDocument 404 https://cryptoinject.com/error.php

# HTTPS To HTTPS
# RewriteEngine On
# RewriteCond %{SERVER_PORT} 80
# RewriteRule ^(.*)$ https://www.cryptoinject.com/$1 [R,L]